
* {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: bolder;
}

.container-a,
.container-b {
  height: 600px;
}

.container-a,
.container-b,
.container-c {
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
}

.container-a div,
.container-b div,
.container-c div {
  margin: 1px;
  padding: 0.5rem;
  border: 1px solid black;
}

.container-a {
  background-color: blue;
  position: relative;
}

.container-a div {
  background-color: lightblue;
  color: black;
}

.container-b {
  background-color: red;
}

.container-b div {
  background-color: lightcoral;
  color: black;
}

.container-c {
  background-color: green;
  position: fixed;
  bottom: 0;
  right: 0;
}

.relative {
  position: relative;
  left: 30px;
}

.static {
  /*position: static; /* DEFAULT */
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
}
