
html {
  background-color: #fa923f;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: bolder;
}

body {
  background-color: yellow;
  padding: 10px;
  margin: 0;
}

header {
  background-color: #f073e1;
  padding: 10px;
  margin: 10px;
}

nav {
  background-color: #f073e1;
  padding: 10px;
  margin: 10px;
}

footer {
  background-color: #f073e1;
  padding: 10px;
  margin: 10px;
}
